{{ partial "top.html" . }}

<div class="container">
    <div class="article">
        <div class="return">
            <a class="return" href="/">Voltar</a>
        </div>
        <div class="return-mobile">
            <a class="return" href="/">Voltar</a>
        </div>
        <div class="article-date">
            {{ dateFormat "02-01-2006" .Date }}
        </div>
        <div class="article-title">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="article-content">
            {{ .Content }}
        </div>
        <div class="article-share">
            <h4>Compartilhe este post.</h4>
            <a aria-label="Compartilhe no Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
                <i class="fab fa-facebook fa-2x" aria-hidden="true" style="color:#3b5998"></i>
            </a>
            <a aria-label="Compartilhe no Twitter" target="_blank" href='https://twitter.com/intent/tweet?text="{{ .Description }}" {{ .Permalink }}&hashtags={{ (index $.Params "twitter-hashtag") }}'>
                <i class="fab fa-twitter fa-2x" aria-hidden="true" style="color:#1da1f2"></i>
            </a>
        </div>
        <div id="disqus_thread"></div>
    </div>
</div>

{{ partial "bottom.html" . }}