{{ partial "top.html" . }}

<div class="container">
    <div class="article">
        <div class="return">
            <a class="return" href="/">Voltar</a>
        </div>
        <div class="return-mobile">
            <a class="return" href="/">Voltar</a>
        </div>
        <div class="article-date">
            {{ dateFormat "02-01-2006" .Date }}
        </div>
        <div class="article-title">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="article-content">
            {{ .Content }}
        </div>
        <div class="article-share">
            <h4>Compartilhe este post.</h4>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
                <i class="fab fa-facebook fa-2x" aria-hidden="true" style="color:#3b5998"></i>
            </a>
        </div>
    </div>
</div>

{{ partial "bottom.html" . }}