.article {
    max-width: 750px;
    margin: 0 auto;
    padding: 0px 0px 40px 0px;
}

.article #disqus_thread {
    margin-top: 20px;
}

.article p {
    line-height: 1.7em;
    margin: 30px 0px;
}

.article .return a, .article .return-mobile a {
    text-decoration: none;
    color: #343a40;
}

.article .return-mobile {
    display: none;
}

.article .return-mobile a {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 5px;
    color: #FBFBFB;
    background-color: #343a40;
    border-radius: 5px;
    font-size: 1em;
}

.article img[src*='#center'] {
    display: block;
    margin: auto;
    max-width: 100%;
}

.article-date {
    color: rgba(0, 0, 0, .44);
}

.article-date,
.article-title {
    text-align: center;
}

.article-title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    color: #343a40;
}

.article-content {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #343a40;
}

.article-content a {
    color: #dd4c4f;
}

.article-share {
    border-top: 1px solid rgba(0,0,0,.125);
}

.article-share a {
    margin-right: 5px;
    color: #ffffff;
}

.article-file {
    text-align: center;
    font-weight: bold;
    font-size: 0.85em;
    color: #343a40;
}

.article blockquote {
    background: #f8f8f8;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
}

.article blockquote p::before,
.article blockquote p::after {
    content: " \" ";
}

@media only screen and (max-width: 768px) {
    .article {
        width: 100%;
    }
    .article-title {
        font-size: 1em;
    }
    .article-file {
        margin: 5px;
    }
    .article .return-mobile {
        display: block;
    }
    .article blockquote {
        margin: 10px;
    }
}