<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "meta.html" . }}

    <link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/fontawesome-all.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/minimalist.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/menu.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/article.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/highlight.css" | relURL }}">
</head>

<body>

    {{ partial "menu.html" . }}