<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/fontawesome-all.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/minimalist.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/menu.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/article.css" | relURL }}">
</head>

<body>

{{ partial "menu.html" . }}
